<p id="notice"><%= notice %></p>

<h1>Inside Moat Listing Movies</h1>

<%= search_form_for @q do |f| %>

  <%= f.label :title_cont, "search" %>
  <%= f.search_field :title_cont %>

  <%= f.submit %>
<% end %>

<table>
	  <thead>
	    <tr>
	      <th>タイトル</th>
	      <th>上映時間</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @movies.each do |movie| %>
	      <tr>
	        <td><%= movie.title %></td>
	        <td><%= movie.runtime %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
