<p id="notice"><%= notice %></p>

<h1>Inside Moat Listing Movies</h1>

<%= search_form_for @q do |f| %>

  <%= f.label :title_cont, "search" %>
  <%= f.search_field :title_cont %>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
ぽげぽげ
<br>
  <%= f.submit %>
<% end %>

